@media print {
  @page {
    size: A4 landscape;   
    margin: 10mm;         
  }

  
  html, body { width: 100%; }
  body { 
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  
  .no-print { display: none !important; }

  
  #map, .print-area { width: 100% !important; height: auto !important; }
}
